---
- name: Gather facts
  ansible.builtin.setup:

- name: Update package repos on Debian
  ansible.builtin.apt:
    update_cache: yes
  when: ansible_facts['os_family'] == 'Debian'

- name: Upgrade packages on Debian
  ansible.builtin.apt:
    upgrade: dist
  when: ansible_facts['os_family'] == 'Debian'

- name: Update package repos on RedHat
  ansible.builtin.yum:
    update_cache: yes
  when: ansible_facts['os_family'] == 'RedHat'

- name: Upgrade packages on RedHat
  ansible.builtin.yum:
    name: "*"
    state: latest
  when: ansible_facts['os_family'] == 'RedHat'
