apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-loadbalancer
  namespace: sre-challenge
  labels:
    app: nginx-lb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-lb  # Selects pods with label app=nginx-lb to manage
  template:
    metadata:
      labels:
        app: nginx-lb # Pods inherit this label so they are matched by selector and Service
    spec:
      containers:
      - name: nginx
        image: nginx:stable-alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config  # Mounts the ConfigMap named nginx-config with proxy
