apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: sre-challenge
data:
  default.conf: |
    server {
      listen       80;
      server_name  localhost;

      location / {
        proxy_pass http://simple-web-app-service:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
      }
    }
