name: Terraform Lint

on:
  push:
    paths:
      - 'terraform/**.tf'
  pull_request:
    paths:
      - 'terraform/**.tf'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.6.0  # specify your version here

    - name: Terraform fmt check
      run: terraform fmt -check -recursive terraform/

    - name: Terraform validate
      run: terraform validate terraform/
